
<section ng-controller="MediaCtrl as vm">
  <div class="row">
    <div ng-hide="vm.dataLoaded" class="loader animate">Loading...</div>
    <div class="col-lg-4 animate" ng-repeat="p in vm.pics">
      <a href="{{p.link}}" target="_blank">
        <img ng-src="{{p.images.low_resolution.url}}" class="img-responsive">
      </a>
      <p>
        <a href="http://instagram.com/{{p.user.username}}" target="_blank">{{p.user.username}}</a>
      </p>
      <p>
        {{p.likes.count}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4>Currently displaying {{vm.pics.length}} pictures on page</h4>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-success" ng-click="vm.getMore()">Show me more</button>
    </div>
  </div>
  
</section>
